/* Main Board */
.board{
    display:grid;
    width: 65vh;
    height: 65vh;
    border: 1px rgba(0, 0, 0, 0.404) solid;
    margin-top: 1vh;
    margin-right: 6vh;
    box-sizing: content-box;

}

.div-squares{
    border: 1px rgba(0, 0, 0, 0.041) solid;
    background-color: rgba(255, 255, 255, 1);
}

.div-squares:hover{
    background-color: #1381ad !important;
}

/* Header */
.title{
    display: flex;
    background-color: #31748f;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

h1{
    color: #f25602;
    font-family: "Alfa Slab One";
    font-size: 50px;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #f3cfbc;
    min-height: 100vh;
}

.content{
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.coloring-text{
    display: flex;
    flex-direction: row;
}
/* New Grid Button */
#new-grid{
    display: block;
    background-color: #f25602;
}

#new-grid:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.199);
    background-color: #500d04;
    color: white;
    border: 1px solid #c6c6c6;
    text-decoration: none;
    transition: all .3s ease;
    color: #d9f3ed;
}

#new-grid:active {
    border: 1px solid #300a0a;
    transition: all 0s ease;
    background-color: #7bcfb3;
    color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.199);
}

#new-size{
    width: 16vw;
    margin-bottom: 10px;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mode, .mode-coloring, .mode-not-coloring{
    font-family: "Iceland";
    font-size: 40px;
}

button{
    background-color: #3ba1c9;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    border: 1px solid white;
    width: 18vw;
    height: 3vh;
}

button:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.199);
    background-color: #042b50;
    color: white;
    border: 1px solid #c6c6c6;
    text-decoration: none;
    transition: all .3s ease;
    color: #d9f3ed;
}
button:active {
    border: 1px solid #300a0a;
    transition: all 0s ease;
    background-color: #7bcfb3;
    color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.199);
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#clear-button{
    margin-top: 50px;
}

.range-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.range-bar-button{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#size-label{
    font-family: "Iceland";
    margin-bottom: 10px;
}


/* Footer */
footer{
    bottom: 0;
    display: flex;
    background: #1381ad;
    color: #f85903;
    font-family: "Iceland";
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    padding: 20px;
}

.git-pic{
    transition: transform 0.3s ease-in-out;
    height: 17px;
    width: 17px;
}

.git-pic:hover{
    transform: rotate(360deg) scale(1.2);
}