.board{
    display:grid;
    width: 60vh;
    height: 60vh;
    border: 1px rgba(0, 0, 0, 0.404) solid;
}

.div-squares{
    border: 1px rgba(0, 0, 0, 0.041) solid;
    background-color: rgba(255, 255, 255, 1);
}

.div-squares:hover{
    background-color: #1381ad !important;
}

.title{
    display: flex;
    background-color: #31748f;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

h1{
    color: #f25602;
    font-family: "Alfa Slab One";
    font-size: 50px;
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #f3cfbc;
    min-height: 100vh;
}

.content{
    padding: 40px 100px;
    display: flex;
    gap: 250px;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.range-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.range-bar-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#size-label{
    font-family: "Iceland"
}

footer{
    bottom: 0;
    display: flex;
    background: #1381ad;
    color: #f25602;
    font-family: "Iceland";
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    padding: 20px;
}

.git-pic{
    transition: transform 0.3s ease-in-out;
    height: 17px;
    width: 17px;
}

.git-pic:hover{
    transform: rotate(360deg) scale(1.2);
}